body{
    opacity:0;
}
.thank-you{
    margin-top:85vh;
    margin-left:85vw;
    font-family: Apple Chancery; 
    font-size: 1vh;
    font-size: 1vw;
    opacity:0;
}
.attributions{
    margin-top:-5vh;
    margin-left:2vw;
}
.attributions h3{
    width:10%;
    opacity:0;
}
.attributions a, .attributions p{
    display:none;
}