#descriptions{
    color:white;
    text-align:center;
    margin-left:27vw;
    opacity:0.8;
}
.title{
    margin-bottom:1vh;
}
.description{
    font-size: 18px;
}
.explore{
    display:inline-block;
    padding:0.8vh 1.5vw 0.8vh 1.5vw;
    margin-top:1.5vh;
    color:grey;
    text-decoration: none;
    border:2px solid grey;
    border-radius:3px;
    box-shadow:3px 3px #888888;
}
.explore:active{
    margin-top:1.8vh;
    margin-left:0.5vw;
    box-shadow:none;
}
#ecommerce,#movie,#chatbot, #none{
    position:absolute;
    display:none;
    margin-top:1vh;
    opacity:0;
    width:60%;
}
.container{
    margin-top:-8vh;
    margin-left:10vw;
    opacity:0;
}
.icons{
    margin-bottom:-2vh;
}
#pointer{
    height:60px;
}
.texts{
    display:inline-block;
    margin-left:-1.0vw;
}
.curtainLeft{
	position:absolute;
	background: black;
	width:50vw;
	height:100vh;
	top:0;
	left:0;
}
.curtainRight{
	position:absolute;
	background: black;
	width:50vw;
	height:100vh;
	top:0;
	left:50vw;
}
.attributions{
    position:absolute;
    margin-top:30vh;
    margin-left:2vw;
}
.attributions h3{
    width:10%;
    opacity:0;
}
.attributions a{
    display:none;
}