body{
    cursor:default;
}
.descriptions{
    color:white;
    text-align:center;
    margin-top:60vh;
    margin-left:30vw;
    opacity:0.8;
}
.title{
    margin-bottom:1vh;
}
.description{
    font-size: 18px;
}
#ecommerce,#movie,#portfolio, #none{
    position:absolute;
    opacity:0;
    width:50%;
}
.container{
    margin-top:-8vh;
    margin-left:10vw;
    opacity:0;
}
.icons{
    margin-bottom:-2vh;
}
#pointer{
    height:60px;
}
.texts{
    display:inline-block;
    margin-left:-1vw;
    margin-top:-5vh;
}